<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="ISO-8859-1">
<title>TechCode</title>
<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Main Stylesheet -->
<link href="/assets/css/style.css" rel="stylesheet">
</head>
<body class="body-403">
	<div class="wrapper">
		<div class="box-403">
			<h1>403</h1>
			<p>Sorry, you are not allowed to go beyond this point!</p>
			<p>
				<a th:href="@{/home}">Please, go back to Home.</a>
			</p>
		</div>
	</div>
</body>
</html>